<div id="statistics-row-container">
    <div class="statistics-container" id="wins-statistic-container">
        <h1 class="statistics-count statistics-num">{{falseCount}}</h1>
        <h2 class="statistics-count">Wins</h2>
    </div>

    <div class="statistics-container" id="total-statistic-container">
        <h1 class="statistics-count statistics-num">{{totalCount}}</h1>
        <h2 class="statistics-count">Total Littles</h2>
    </div>

    <div class="statistics-container" id="nerves-statistic-container">
        <h1 class="statistics-count statistics-num">{{trueCount}} </h1>
        <h2 class="statistics-count">Nerves</h2>

    </div>
</div>

<h2 id="littles-header">Your Littles</h2>

<div id="all-little-cards">
{{#each littles}}
    <a href="/littles/{{this.id}}">
        <div class="little-card little-card-{{this.type}}">
            <h2 class="little-card-title">{{this.title}}</h2>
            <p class="little-card-edit-button"><a href="/littles/{{this._id}}/edit">Edit</a>
        </div>
    </a>
{{/each}}
</div>
<script src="/js/main.js"></script>
